<!--
Copyright 2025 Alex "Lexden" Schendel

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('layout_header') %>
  <meta name="description" content="Lexden's development website home page!">
</head>
<body class="bg-dark">
  <%- include('layout') %>
  <div style="text-align:center; padding:10px;">
	  <h1 class="text-light">Welcome to Lexden</h1>
  </div>
  <video width=100% autoplay muted loop>
	  <source src="favicon/lexden2.mp4" type="video/mp4">
	  Your browser does not support the video tag.
  </video>
</body>
